@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jost", serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 20px;
  overflow-y: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo h1 {
  font-size: 32px;
  font-weight: 900;
  color: #f00;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo h1 img {
  width: 3rem;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
  margin-top: 1rem;
}

.menu {
  display: flex;
  align-items: center;
}

.green {
  background-color: #3b82f6; /* updated */
  color: #fff;
  padding: 0 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu ul {
  display: flex;
  gap: 32px;
  margin-right: 3rem;
}

.menu ul li a {
  position: relative;
  font-size: 18px;
}

.menu ul li a:hover {
  color: #3b82f6; /* updated */
  transition: color 0.3s;
}

.menu ul li a:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3b82f6; /* updated */
  transition: transform 0.3s;
}

.menu_open,
.menu_close {
  position: absolute;
  right: 8rem;
  top: inherit;
  font-size: 32px;
  font-weight: bold;
  background: #fff;
  display: none;
  cursor: pointer;
}

.nav_btns {
  display: flex;
  gap: 20px;
}

.nav_btns a {
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 1px;
}

.nav_btns a:first-child {
  background-color: #fff;
  color: #000;
}

.nav_btns a:hover:first-child {
  color: #60a5fa; /* updated */
  transition: background-color 0.3s;
}

.nav_btns a:last-child {
  background-color: #3b82f6; /* updated */
  color: #fff;
}

.nav_btns a:hover:last-child {
  background: transparent;
  color: #000;
  border: 1px solid #000;
  transition: background-color 0.3s;
}

.hero_content {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  min-height: 80vh;
  justify-content: center;
}

.hero_left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  max-width: 600px;
}

.hero_left h1 {
  font-size: 60px;
  font-weight: 900;
}

.hero_left p {
  font-size: 24px;
  line-height: 1.5;
}

.hero_left a {
  padding: 10px 20px;
  background-color: #60a5fa; /* updated */
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  letter-spacing: 1px;
  width: fit-content;
}

.hero_left a:hover {
  background-color: #3b82f6; /* updated */
  transition: background-color 0.3s;
}

.hero_right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_right img {
  width: 80%;
  height: 100%;
  object-fit: cover;
}

/* Title */

.title {
  width: 100%;
  margin: 2rem auto;
  width: fit-content;
  text-align: center;
  padding: 2rem;
}

.title h2 {
  font-size: 36px;
  font-weight: 900;
  color: #3b82f6; /* updated */
}

.title p {
  font-size: 20px;
  line-height: 1.5;
}

/* Vision */
.mission {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vision-values {
  display: flex;
  width: 80%;
  margin: 3rem auto;
  flex-wrap: wrap;
}

.vision-values h3 {
  flex: 1;
  font-size: 3rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 10px;
}

.vision-values p {
  flex: 1;
  font-size: 20px;
  color: #000;
  line-height: 1.6;
}

/* Services */

.services {
  text-align: center;
}

.services-container {
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  gap: 1rem;
  border: 1px solid #3b82f6; /* updated */
  padding: 1rem;
}

.service-card img {
  width: 20px;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 20px;
  object-fit: cover;
}

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  background: white;
  padding: 30px;
  gap: 2rem;
  margin: auto;
}

.about img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  transform: scale(1.5);
}

.content {
  padding-left: 30px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.content h2 {
  font-size: 28px;
  font-weight: bold;
}

.content p {
  font-size: 18px;
  line-height: 2;
}

.content ul {
  list-style: none;
  padding: 0;
}

.content ul li {
  font-size: 16px;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.content ul li::before {
  content: "\2714";
  color: red;
  font-size: 24px;
  margin-right: 10px;
}

/* Clientele */

.clientele_container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin: 4rem 0;
  padding: 2rem;
}

.clientele_container img {
  width: 6rem;
}

/* DESIGN */
.design {
  background: #c0f8f880;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.design-container {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  padding: 2rem;
}

.design h2 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 10px;
  width: 50%;
}

.design h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 10px;
}

.design p {
  font-size: 18px;
  line-height: 1.5;
}

.design .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.design .right .tools {
  flex-wrap: wrap;
  display: flex;
  gap: 2rem;
}

/* Payment */

.payment {
  max-width: 80%;
  margin: 0 auto;
}

.payment-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 5rem auto;
}

.payment-options img {
  box-shadow: 2px 1px 2px 4px #a62b2b21;
  border-radius: 2rem;
  max-width: 400px;
}

.payment-option {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
}

.payment-option h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #a62b2b;
}

.payment-option p {
  font-size: 18px;
  color: #a52a2a;
}

.green-text {
  color: #3b82f6; /* updated */
}

/* Testimonials */

.testimonials_container {
  width: 100%;
  display: flex;
  justify-content:
